doctype html
html
  body
    h1 #{name}
    p Testing static text

  script(src="bower_components/jquery/jquery.js")
  script(src="bower_components/semantic-ui/build/packaged/javascript/semantic.min.js")
