doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/styles/semantic.min.css')
    link(rel='stylesheet', href='/public/styles/index.css')
  body
    div.container
      div
        center
          img(height="200", width="200", src="/public/images/jackie-circle.png")
      div
        center
          h1(class="ui teal header") Jacqueline Kwan
      div
        center
          p Aut viam inveniam aut faciam
          p I will either find a way or make one.
      div
        center
          a(href="http://facebook.com/eternallyjackie")
            img.roomy(src="/public/images/facebook.png")
          a(href="http://instagram.com/eternallyjackie")
            img.roomy(src="/public/images/instagram.png")
          a(href=" www.linkedin.com/pub/jacqueline-kwan/80/452/88/")
            img.roomy(src="/public/images/linkedin.png")
          a(href="https://twitter.com/eternallyjackie")
            img.roomy(src="/public/images/twitter.png")
      div
        center
          p Nineteen years young.
      div
        center
          p Aspiring financial consultant.
      div
        center
          a(class='twitter-timeline', href='https://twitter.com/eternallyjackie', data-widget-id='487954729893236736') Tweets by @eternallyjackie

  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  script(src="/public/js/jquery.min.js")
  script(src="/public/js/semantic.min.js")