doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/styles/semantic.min.css')
    link(rel='stylesheet', href='/public/styles/index.css')
  body
    div.wrapper
      div.sidebar
        a(href="http://facebook.com/eternallyjackie")
          img.roomy(src="/public/images/facebook.png")
        a(href="http://instagram.com/eternallyjackie")
          img.roomy(src="/public/images/instagram.png")
        a(href=" www.linkedin.com/pub/jacqueline-kwan/80/452/88/")
          img.roomy(src="/public/images/linkedin.png")
        a(href="https://twitter.com/eternallyjackie")
          img.roomy(src="/public/images/twitter.png")

    div.container
      div
        center
          img(height="200", width="200", src="/public/images/jackie-circle.png")
      div
        center
          h1 Jacqueline Kwan 
      div
        center
          q
            span.quote Aut viam inveniam aut faciam
          p I will either find a way or make one.
      br
      div
        center
          p Nineteen years young.
      div
        center
          p Aspiring financial consultant.
      div.ui.grid
        div.four.wide.column
        div.eight.wide.column
          div.ui.horizontal.icon.divider
            i.small.star.icon
            i.small.star.icon.roomy
            i.small.star.icon
        div.four.wide.column
      div
        center
          a(class='twitter-timeline', href='https://twitter.com/eternallyjackie', data-widget-id='487954729893236736') Tweets by @eternallyjackie

  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  script(src="/public/js/jquery.min.js")
  script(src="/public/js/semantic.min.js")

 