doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/styles/semantic.min.css')
    link(rel='stylesheet', href='/public/styles/index.css')
  body

    .container(style="margin-top:30px")
      //- toplevel grid
      .ui.stackable.grid 
        .middle.aligned.row
          //- lefthand side column
          .five.wide.column 

            .ui.grid  //- lefthand inner grid
              .row //- latin quote
                .column
                  center
                    q
                      span.quote Aut viam inveniam aut faciam
                    p I will either find a way or make one.

              .row // - picture
                .column
                  center
                    img.rounded(height="236", width="260", src="/public/images/jackie.jpg")

              .row //- name
                .column
                  center
                    h1 Jacqueline Kwan

              .row //- description
                .column
                  center
                    p Nineteen years young.
                    p Aspiring financial consultant.

              .row //- icons
                .column
                  center
                    a(href="mailto:jkwan@terpmail.umd.edu")
                      i.circular.mail.large.icon.link.icon
                    a(href=" www.linkedin.com/pub/jacqueline-kwan/80/452/88/")
                      i.circular.linkedin.large.icon.link.icon
                    a(href="http://facebook.com/eternallyjackie")
                      i.circular.facebook.large.icon.link.icon
                    a(href="/Resume_JKwan.pdf")
                      i.circular.suitcase.large.icon.link.icon

          //- righthand side column
          .ten.wide.column
            .ui.grid
              .middle.aligned.three.column.row
                .column
                  i.twitter.large.icon.link.icon
                .column
                  center: span.handle @eternallyjackie
                .column
                  i.instagram.large.icon.link.icon(style="float: right;")
              .ui.grid
                .ui.stackable.grid
                  .two.column.divided.row
                    //- tweets
                    .column 
                      center: a(class="twitter-timeline",href="https://twitter.com/eternallyjackie",data-widget-id="490171119408672768")
                        Tweets by @eternallyjackie

                    //- instagram
                    .column 
                      .instagram-content
                        center
                          - photos.forEach(function(photo) {
                              img.polaroid.breath(src=photo, title="Jun 06, 2012")
                          - });

              .row
                .column
                  <iframe width='100%' height='375px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/fcangial.j0b0in7e/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiZmNhbmdpYWwiLCJhIjoiSEE2NW84ayJ9.I_SmNeUGjd30kkUHN9hPVA'></iframe>
        .one.wide.column
      .ui.grid
        .one.wide.column
        .fourteen.wide.column
          .ui.horizontal.icon.divider
            i.small.star.icon
            i.small.star.icon.roomy
            i.small.star.icon
        .one.wide.column
        .sixteen.wide.column.copyright
          center: p &copy; Jacqueline Kwan

  script(src="/public/js/jquery.min.js")
  script(src="/public/js/semantic.min.js")
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");