doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/styles/semantic.min.css')
  body
    h1(class="ui teal header") #{name}
    p Testing static text

  script(src="/public/js/jquery.min.js")
  script(src="/public/js/semantic.min.js")
