@font-face {
    font-family: 'klartext_monolight';
    src: url('KlartextMono-Light-webfont.eot');
    src: url('KlartextMono-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('KlartextMono-Light-webfont.woff') format('woff'),
         url('KlartextMono-Light-webfont.ttf') format('truetype'),
         url('KlartextMono-Light-webfont.svg#klartext_monolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, body {
	font-family : 'klartext_monolight';
}

.roomy { 
  margin-left: 10px;
  margin-right: 10px;
}